<!--
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>SideNave</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navigation">
      <mat-toolbar-row>
        <div fxFlex fxLayout fxShrink="1" fxHide.gt-xs>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex fxLayout>&lt;!&ndash;class="navigation-items"&ndash;&gt;
          <div fxLayout fxFlexAlign="center" class="logo">
            <a routerLink="/" fxLayout>PostalPortal</a>
          </div>
          <div fxHide.xs>
            <ul fxLayout fxLayoutGap="10px" class="navigation-item">
              <li><a routerLink="/">Notifications</a></li>
              <li><a routerLink="/">Accounts</a></li>
              <li><a routerLink="/">Senders</a></li>
              <li><a routerLink="/">BulkNotification</a></li>
            </ul>
          </div>
        </div>
        <div class="navigation-info">
          <div class="username">dev</div>
          <mat-icon>exit_to_app</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

-->
<app-nav></app-nav>
<router-outlet></router-outlet>
