// Descriptive Colors
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
*/

html, body {
  font-family: 'Roboto', sant-serif, serif;
  height: 100%;
}

body {
  margin: 0;
}
